<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CVIA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Professional Resume Matcher</h1>

        <section class="resume-section">
            <h2>Upload Resumes</h2>
            <label for="resumeInput" class="upload-label">Choose PDF resumes</label>
            <input type="file" id="resumeInput" name="resumes[]" accept=".pdf" multiple style="display: none;" />
            <button id="uploadButton" class="button">Select Resumes</button>
            <ul id="cvList" class="cv-list"></ul>
            <div id="parsedSkills" class="parsed-skills"></div>
        </section>

        <section class="offer-section">
            <h2>Analyze Job Offer</h2>
            <form id="offerForm" class="offer-form">
                <textarea id="offerText" class="offer-text" placeholder="Paste your job offer text here"></textarea>
                <button type="submit" class="button">Submit</button>
            </form>
            <div id="results" class="results"></div>
        </section>

        <section class="matched-resume-section">
            <h2>Matched Resume</h2>
            <div class="download-container">
                <div id="loader" class="loader" style="display: none;"></div>
                <a href="#" id="downloadButton" class="button download-button" download style="display: none;">Download Best Matched Resume</a>
            </div>
        </section>

        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </div>
</body>
</html>